.nav-link {
    font-size: 1.1rem;
}
.navbar-brand {
    font-size: 1.7rem;
}
.nav-item {
    margin-left: 30%;
}
.text-larger {
    font-size: 1.4rem;
}
.text-smaller {
    font-size: 1.1rem;
}
.my-text-gray {
    color: #999999;
}